<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
      <title>Backbone.js, Require.js, and jQuery Mobile</title>
      <meta name="description" content="">

        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">


        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <!--
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        -->

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->


      <link rel="stylesheet" href="css/normalize.css" />
      <link rel="stylesheet" href="css/jquery.mobile.css" />
      <script src="js/libs/require.js" data-main="js/mobile"></script>
</head>
<body>

<div id="categories" data-role="page" data-title="Categories">
  
      <div data-role="header">
            <h1>Categories</h1>
      </div><!-- /header -->
  
      <div data-role="content">
            <h2>Select a Category Below:</h2>
            <ul data-role="listview" data-inset="true">
                  <li><a href="#category?animals" class="animals">Animals</a></li>
                  <li><a href="#category?colors" class="colors">Colors</a></li>
                  <li><a href="#category?vehicles" class="vehicles">Vehicles</a></li>
            </ul>
      </div><!-- /content -->

</div>

<div id="animals" data-role="page" data-title="Animals">

      <div data-role="header">
	    <h1>Animals</h1>
      </div><!-- /header -->
  
      <div data-role="content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
</div>

<div id="colors" data-role="page" data-title="Colors">

      <div data-role="header">
	    <h1>Colors</h1>
      </div><!-- /header -->

      <div data-role="content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<div id="vehicles" data-role="page" data-title="Vehicles">

      <div data-role="header">
	    <h1>Vehicles</h1>
      </div><!-- /header -->
  
      <div data-role="content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<!-- Underscore Template that is used to display all of the Category Models -->
<script id="categoryItems" type="text/template">

      <% _.each( collection.toJSON(), function( category, id ) { %>

            <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
                  <%= category.type %>
            </li>

      <% }); %>

</script>

</body>
</html>